<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Education
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <h2>
        Degree
      </h2>
    </ion-card-header>
    <ion-card-content>
      Bachelor's of Business Administration, May 2019
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2>
        University
      </h2>
    </ion-card-header>
    <ion-card-content>
      University of North Alabama, Florence, AL
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2>
        Major
      </h2>
    </ion-card-header>
    <ion-card-content>
      Computer Information Systems
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2>
        Honors
      </h2>
    </ion-card-header>
    <ion-card-content>
      Dean's List Fall 2017, Spring 2018, Spring 2019 Semesters
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2>
        Organizations
      </h2>
    </ion-card-header>
    <ion-card-content>
      Association for Information Systems (AIS), Vice President, August 2018 - May 2019
    </ion-card-content>
  </ion-card>

</ion-content>