<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Description</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card padding>
    <ion-card-header>
      {{project.name}}
    </ion-card-header>
    <ion-card-content>
      {{project.description}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="project.image1">
    <img src="{{project.image1}}" alt="Image 1;">
  </ion-card>

  <ion-card *ngIf="project.image2">
    <img src="{{project.image2}}" alt="Image 1;">
  </ion-card>

  <ion-card *ngIf="project.image3">
    <img src="{{project.image3}}" alt="Image 1;">
  </ion-card>

  <ion-card *ngIf="project.image4">
    <img src="{{project.image4}}" alt="Image 1;">
  </ion-card>

</ion-content>